script(type="text/ng-template", id="modal-options")
    div.modal-header
        span.close(ng-click="$close()")
            span.fa.fa-close
        h4
            span.fa.fa-book &nbsp;
            | Options

    div.modal-body
        div Here are some options for the game. Over time more may show up here.

        div.display-table
            div.row.margin-top-15
                div.col-md-3
                    div Game Reset
                div.col-md-9
                    button(ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-danger': hasUpgrade('Basic Color')}", ng-click="resetGame($close)")
                        span.fa.fa-history &nbsp;
                        | Reset

            div.row.margin-top-15(ng-if="hasUpgrade('Currency Name Change')")
                div.col-md-3
                    div Currency Name
                    div.text-center.no-bold "{{currencyName}}"
                div.col-md-9
                    button(ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-info': hasUpgrade('Basic Color')}", ng-click="changeCurrency()")
                        span.fa.fa-tag &nbsp;
                        | Change

            div.row.margin-top-15(ng-if="hasUpgrade('Adblocker')")
                div.col-md-3
                    div Ads
                div.col-md-9
                    div.btn-group
                        button(ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-info': hasUpgrade('Basic Color')}", ng-click="setAds(true)", ng-model="ads", btn-radio="true") On
                        button(ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-info': hasUpgrade('Basic Color')}", ng-click="setAds(false)", ng-model="ads", btn-radio="false") Off

    div.modal-footer
        span.pull-left You started <span am-time-ago="saveObject().start"></span>.
        button(ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-default': hasUpgrade('Basic Color')}", ng-click="$close()") Close
