
.lowercase {
  text-transform: lowercase;
}

.formatted {
  font-family: monospace;
  white-space: pre;
}

.margin-top-15 {
  margin-top: 15px;
}

.better-aligned-code {
  margin-left: -70px;
}

.navbar-text .progress {
  margin-bottom: 0;
  width: 150px;
}