doctype html
html(lang="en", ng-app="c", ng-controller="Game")
    head
        meta(charset="utf-8")

        title(ng-if="!hasUpgrade('Page Title')") c
        title(ng-if="hasUpgrade('Page Title') && !hasUpgrade('Better Page Title')") c(ode)
        title(ng-if="hasUpgrade('Better Page Title') && !hasUpgrade('Number Formatting')") c(ode) | {{_units}}
        title(ng-if="hasUpgrade('Better Page Title') && hasUpgrade('Number Formatting')") c(ode) | {{_units | number:0}}

        link(rel="shortcut icon",href="favicon.ico")

        link(href="css/bootstrap.css", rel="stylesheet")
        link(href="css/font-awesome.css", rel="stylesheet", ng-if="hasUpgrade('Iconography')")
        link(href="css/main.min.css", rel="stylesheet")
        link(href="css/lib.css", rel="stylesheet")

    body(ng-class="{lowercase: !hasUpgrade('Capitalization', 0), 'no-border-radius': !hasUpgrade('Basic Style', 1), 'no-color': !hasUpgrade('Basic color')}")
        noscript
            div This game requires JavaScript. Sorry!
        ng-include(src="'main'")
        script(src="js/lib.js")
        script(src="js/main.min.js")