script(type="text/ng-template", id="main")

    div(ng-if="!hasUpgrade('Better Layout') && !hasUpgrade('Basic Layout')")
        button(ng-click="gainUnits()") Gain Units
        span(ng-if="hasUpgrade('Scoreboard')") Units: {{_units}}
        div(ng-if="hasUpgrade('Visual Countdown')") {{_timer}} milliseconds
        div(ng-repeat="item in _visibleUpgrades")
            span {{item.name}} (Level {{item.level}})
            button(ng-click="buyUpgrade(item.name, item.buyLevels)", ng-disabled="_units < item.cost") Buy for {{item.cost}} Units

        div(ng-class="{formatted: hasUpgrade('Preformatting')}") {{_function}}

    div.container(ng-if="!hasUpgrade('Better Layout') && hasUpgrade('Basic Layout', 0)")
        div.row
            div.col-xs-6

                h2(ng-if="hasUpgrade('Basic Layout', 1)") Manage

                div.pull-left(ng-if="hasUpgrade('Scoreboard')")
                    span {{_units}} units
                    button(ng-click="gainUnits()") Get More

                div.pull-left(ng-if="!hasUpgrade('Scoreboard')")
                    button(ng-click="gainUnits()") Gain Units

                div.pull-right(ng-if="hasUpgrade('Visual Countdown')") {{_timer}} milliseconds
                div.clearfix

                table(ng-class="{'col-xs-12 margin-top-15': hasUpgrade('Basic Layout', 1)}")
                    tr
                        th Name
                        th Level
                        th Buy
                    tr(ng-repeat="item in _visibleUpgrades")
                        td {{item.name}}
                        td {{item.level}}
                        td
                            button(ng-click="buyUpgrade(item.name, item.buyLevels)", ng-disabled="_units < item.cost") Buy for {{item.cost}} Units

            div.col-xs-6

                h2(ng-if="hasUpgrade('Basic Layout', 1)") Output

                div(ng-class="{formatted: hasUpgrade('Preformatting')}") {{_function}}

    div(ng-if="hasUpgrade('Better Layout')") better layout!