script(type="text/ng-template", id="main")

    div(ng-if="!hasUpgrade('Basic Layout')")
        button(ng-click="gainUnits()") Gain Units
        span(ng-if="hasUpgrade('Scoreboard')") Units: {{_units}}
        div(ng-if="hasUpgrade('Visual Countdown')") {{_timer}} milliseconds
        div(ng-repeat="item in _visibleUpgrades")
            span {{item.name}} (Level {{item.level}})
            button(ng-click="buyUpgrade(item.name, item.buyLevels)", ng-disabled="_units < item.cost") Buy for {{item.cost}} Units

        div(ng-class="{formatted: hasUpgrade('Preformatting')}") {{_function}}

    nav.navbar.navbar-default(ng-if="hasUpgrade('Better Layout', 1)")
        div.container
            div.navbar-header
                a.navbar-brand(href, ng-if="!hasUpgrade('Page Title')")
                    img(alt="c",src="favicon.ico", ng-if="hasUpgrade('Favicon')")
                    span(ng-if="!hasUpgrade('Favicon')") c
                a.navbar-brand(href, ng-if="hasUpgrade('Page Title')")
                    img(alt="c",src="favicon.ico", ng-if="hasUpgrade('Favicon')")
                    span(ng-if="!hasUpgrade('Favicon')") c(ode)
                    span(ng-if="hasUpgrade('Favicon')") (ode)

            div.navbar-inner
                ul.nav.navbar-nav.navbar-left(ng-if="hasUpgrade('Scoreboard')")
                    li
                        button.navbar-btn(type="button", ng-click="gainUnits()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-primary': hasUpgrade('Basic Color')}")
                            span.fa.fa-plus &nbsp;
                            | Get More
                    li
                        p.navbar-text#navbar-unit
                            ng-include(src="'formatting-units'")

                span.navbar-left(ng-if="!hasUpgrade('Scoreboard')")
                    button(ng-click="gainUnits()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-primary': hasUpgrade('Basic Color')}")
                        span.fa.fa-plus &nbsp;
                        | Gain Units

                p.navbar-text.navbar-right(ng-if="hasUpgrade('Visual Countdown') && !hasUpgrade('Progress Bar')")
                    ng-include(src="'formatting-timer'")
                div.navbar-text.navbar-right(ng-if="hasUpgrade('Progress Bar')")
                    progressbar.progress-striped.active(value="100 - _timer/_timerMax*100", type="default") {{100 - (_timer/_timerMax*100).toFixed(0)}}%

                button.navbar-btn.navbar-right(type="button", ng-click="save()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-info': hasUpgrade('Basic Color')}", ng-if="hasUpgrade('Save') && !hasUpgrade('Save', 3)")
                    span.fa.fa-floppy-o &nbsp;
                    | Save

    div.container(ng-if="hasUpgrade('Basic Layout')")
        div.row
            div(ng-class="{'col-xs-6': !hasUpgrade('Better Layout'), 'col-md-6': hasUpgrade('Better Layout')}")

                div(ng-if="!hasUpgrade('Better Layout', 1)")
                    h2 Acquire
                    div.pull-left(ng-if="hasUpgrade('Scoreboard')")
                        ng-include(src="'formatting-units'")
                        button(ng-click="gainUnits()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-primary': hasUpgrade('Basic Color')}")
                            span.fa.fa-plus &nbsp;
                            | Get More
                        ng-include(src="'early-style-save-button'")

                    div.pull-left(ng-if="!hasUpgrade('Scoreboard')")
                        button(ng-click="gainUnits()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-primary': hasUpgrade('Basic Color')}")
                            span.fa.fa-plus &nbsp;
                            | Gain Units
                        ng-include(src="'early-style-save-button'")

                    div.pull-right(ng-if="hasUpgrade('Visual Countdown')")
                        ng-include(src="'formatting-timer'")

                    div.clearfix

                h2(ng-if="hasUpgrade('Basic Layout', 1)") Upgrades

                h4(ng-if="_visibleUpgrades.length === 0") No Available Upgrades

                table(ng-if="_visibleUpgrades.length > 0 && !hasUpgrade('Best Table')", ng-class="{'col-xs-12 margin-top-15': hasUpgrade('Basic Layout', 1), 'table table-bordered': hasUpgrade('Better Layout'), 'table-striped': hasUpgrade('Basic Style')}")
                    tr
                        th(ng-class="{'text-right': hasUpgrade('Better Layout')}") Name
                        th Level
                        th Buy
                    tr(ng-repeat="item in _visibleUpgrades", ng-class="{'danger': hasUpgrade('Basic Style', 1) && _units < item.cost, 'vertical-center': hasUpgrade('Basic Style', 1)}")
                        td(ng-class="{'text-right': hasUpgrade('Better Layout')}") {{item.name}}
                        td {{item.level}}
                        td
                            button(ng-click="buyUpgrade(item.name, item.buyLevels)", ng-disabled="_units < item.cost", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-default': hasUpgrade('Basic Color')}")
                                span.fa.fa-shopping-cart &nbsp;
                                span(ng-if="!hasUpgrade('Number Formatting')") Buy for {{item.cost}} Units
                                span(ng-if="hasUpgrade('Number Formatting')") Buy for {{item.cost | number:0}} Units

                table.table.table-striped(ng-table="tableParams", show-filter="true", ng-show="hasUpgrade('Best Table')")
                    tbody(ng-repeat="group in $groups")
                        tr.ng-table-group
                            td(colspan="{{$columns.length}}")
                                a(href, ng-click="group.$hideRows = !group.$hideRows")
                                    span.fa(ng-if="hasUpgrade('Iconography')", ng-class="{'fa-toggle-right': group.$hideRows, 'fa-toggle-down': !group.$hideRows}") &nbsp;
                                    strong {{group.value}}
                        tr(ng-hide="group.$hideRows", ng-repeat="item in group.data")
                            td(sortable="'name'", data-title="'Name'", filter="{name: 'text'}") {{item.name}}
                            td(sortable="'level'", data-title="'Level'", filter="{level: 'text'}") {{item.level}}
                            td(sortable="'cost'", data-title="'Cost'", filter="{cost: 'text'}")
                                button(ng-click="buyUpgrade(item.name, item.buyLevels)", ng-disabled="_units < item.cost", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-default': hasUpgrade('Basic Color')}")
                                    span.fa.fa-shopping-cart &nbsp;
                                    span(ng-if="!hasUpgrade('Number Formatting')") Buy for {{item.cost}} Units
                                    span(ng-if="hasUpgrade('Number Formatting')") Buy for {{item.cost | number:0}} Units

            div(ng-class="{'col-xs-6': !hasUpgrade('Better Layout'), 'col-md-6': hasUpgrade('Better Layout')}")

                h2 Output

                div(ng-if="!hasUpgrade('Syntax Highlighting')",ng-class="{'better-aligned-code formatted': hasUpgrade('Preformatting')}") {{_function}}
                div.better-aligned-code(ng-if="hasUpgrade('Syntax Highlighting')",hljs,source="_function",language="javascript")

script(type="text/ng-template", id="formatting-units")
    span(ng-if="!hasUpgrade('Number Formatting')") {{_units}} units
    span(ng-if="hasUpgrade('Number Formatting')") {{_units | number:0}} units

script(type="text/ng-template", id="formatting-timer")
    span(ng-if="!hasUpgrade('Number Formatting')") {{_timer}} milliseconds
    span(ng-if="hasUpgrade('Number Formatting')") {{_timer | number:0}} milliseconds

script(type="text/ng-template", id="early-style-save-button")
    button(type="button", ng-click="save()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-info': hasUpgrade('Basic Color')}", ng-if="hasUpgrade('Save') && !hasUpgrade('Save', 3) && !hasUpgrade('Better Layout', 1)")
        span.fa.fa-floppy-o &nbsp;
        | Save