script(type="text/ng-template", id="main")

    div(ng-if="!hasUpgrade('Basic Layout')")
        button(ng-click="gainUnits()") Gain Units
        span(ng-if="hasUpgrade('Scoreboard')") Units: {{_units}}
        div(ng-if="hasUpgrade('Visual Countdown')") {{_timer}} milliseconds
        div(ng-repeat="item in _visibleUpgrades")
            span {{item.name}} (Level {{item.level}})
            button(ng-click="buyUpgrade(item.name, item.buyLevels)", ng-disabled="_units < item.cost") Buy for {{item.cost}} Units

        div(ng-class="{formatted: hasUpgrade('Preformatting')}") {{_function}}

    nav.navbar.navbar-default(ng-if="hasUpgrade('Better Layout', 1)")
        div.container
            div.navbar-header
                a.navbar-brand(href, ng-if="!hasUpgrade('Page Title')") c
                a.navbar-brand(href, ng-if="hasUpgrade('Page Title')") c(ode)

            div.navbar-inner
                ul.nav.navbar-nav.navbar-left(ng-if="hasUpgrade('Scoreboard')")
                    li
                        button.navbar-btn(type="button", ng-click="gainUnits()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-primary': hasUpgrade('Basic Color')}")
                            span.fa.fa-plus &nbsp;
                            | Get More
                    li
                        p.navbar-text#navbar-unit
                            span(ng-if="!hasUpgrade('Number Formatting')") {{_units}} units
                            span(ng-if="hasUpgrade('Number Formatting')") {{_units | number:0}} units

                span.navbar-left(ng-if="!hasUpgrade('Scoreboard')")
                    button(ng-click="gainUnits()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-primary': hasUpgrade('Basic Color')}")
                        span.fa.fa-plus &nbsp;
                        | Gain Units

                p.navbar-text.navbar-right(ng-if="hasUpgrade('Visual Countdown') && !hasUpgrade('Progress Bar')")
                    span(ng-if="!hasUpgrade('Number Formatting')") {{_timer}} milliseconds
                    span(ng-if="hasUpgrade('Number Formatting')") {{_timer | number:0}} milliseconds
                div.navbar-text.navbar-right(ng-if="hasUpgrade('Progress Bar')")
                    progressbar.progress-striped.active(value="100 - _timer/_timerMax*100", type="default") {{100 - (_timer/_timerMax*100).toFixed(0)}}%

    div.container(ng-if="hasUpgrade('Basic Layout')")
        div.row
            div(ng-class="{'col-xs-6': !hasUpgrade('Better Layout'), 'col-md-6': hasUpgrade('Better Layout')}")

                div(ng-if="!hasUpgrade('Better Layout', 1)")
                    h2 Acquire
                    div.pull-left(ng-if="hasUpgrade('Scoreboard')")
                        span(ng-if="!hasUpgrade('Number Formatting')") {{_units}} units
                        span(ng-if="hasUpgrade('Number Formatting')") {{_units | number:0}} units
                        button(ng-click="gainUnits()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-primary': hasUpgrade('Basic Color')}")
                            span.fa.fa-plus &nbsp;
                            | Get More

                    div.pull-left(ng-if="!hasUpgrade('Scoreboard')")
                        button(ng-click="gainUnits()", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-primary': hasUpgrade('Basic Color')}")
                            span.fa.fa-plus &nbsp;
                            | Gain Units

                    div.pull-right(ng-if="hasUpgrade('Visual Countdown')")
                        span(ng-if="!hasUpgrade('Number Formatting')") {{_timer}} milliseconds
                        span(ng-if="hasUpgrade('Number Formatting')") {{_timer | number:0}} milliseconds

                    div.clearfix

                h2(ng-if="hasUpgrade('Basic Layout', 1)") Upgrades

                h4(ng-if="_visibleUpgrades.length === 0") No Available Upgrades

                table(ng-if="_visibleUpgrades.length > 0", ng-class="{'col-xs-12 margin-top-15': hasUpgrade('Basic Layout', 1), 'table table-bordered': hasUpgrade('Better Layout'), 'table-striped': hasUpgrade('Basic Style')}")
                    tr
                        th(ng-class="{'text-right': hasUpgrade('Better Layout')}") Name
                        th Level
                        th Buy
                    tr(ng-repeat="item in _visibleUpgrades")
                        td(ng-class="{'text-right': hasUpgrade('Better Layout')}") {{item.name}}
                        td {{item.level}}
                        td
                            button(ng-click="buyUpgrade(item.name, item.buyLevels)", ng-disabled="_units < item.cost", ng-class="{'btn': hasUpgrade('Basic Style'), 'btn-default': hasUpgrade('Basic Color')}")
                                span.fa.fa-shopping-cart &nbsp;
                                span(ng-if="!hasUpgrade('Number Formatting')") Buy for {{item.cost}} Units
                                span(ng-if="hasUpgrade('Number Formatting')") Buy for {{item.cost | number:0}} Units

            div(ng-class="{'col-xs-6': !hasUpgrade('Better Layout'), 'col-md-6': hasUpgrade('Better Layout')}")

                h2(ng-if="hasUpgrade('Basic Layout', 1)") Output

                div(ng-class="{'better-aligned-code formatted': hasUpgrade('Preformatting')}") {{_function}}